---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import Member from '../components/Member.astro';
---

<Layout title='Welcome to Llamaware'>
	<!-- Yes, yes, I don't *technically* need a div and I can put a class on <Layout>, but this is quick and easy and doesn't steal your grill and cook up a banquet out of spite. -->
	<div class='main'>
		<main>
			<p>A group of like-minded programmers, modders, and tinkerers. We make game mods and modding tools, primarily around <a href='https://store.steampowered.com/app/2378900'>The Coffin of Andy and Leyley</a> and <a href='https://store.steampowered.com/app/1256670'>Library of Ruina</a>.</p>

			<p>Looking to download TCoAaL mods? Look no further!</p>
			<Link href='/mods' icon='package'>Explore Mods</Link>

			<p><strong>New!</strong> Check out our blog!</p>
			<Link href='/blog' icon='newspaper'>Visit Blog</Link>

			<img class='underconstruction' src='/underconstruction.gif' alt='This website is under construction!' />
		</main>

		<aside>
			<section>
				<h2>Members</h2>
				<div>
					<ul>
						<li><Member name='OneHalf' image='alife.gif' href='https://onehalf.dev' /></li>
						<li><Member name='Basil' image='basil.gif' href='https://basil.cafe' /></li>
						<li>Rph</li>
					</ul>
				</div>
			</section>

			<section>
				<h2>Our Projects</h2>
				<div>
					<p class='newProjects'>
						Check out our new <a href='/projects'>Projects</a> page!
					</p>

					<hr />

					<ul>
						<li><a href='https://steamcommunity.com/sharedfiles/filedetails/?id=3150803241'>Book of Malleus Draconia</a></li>
						<li><a href='https://codeberg.org/basil/tomb'>Tomb</a></li>
						<li><a href='https://codeberg.org/basil/grimoire'>Grimoire</a></li>
						<li><a href='https://github.com/Llamaware/LlamaToolkit'>LlamaToolkit 2.0</a></li>
						<li><a href='https://codeberg.org/basil/coffin-wiki'>TCoAaL Modding Wiki</a></li>
						<li><a href='/mods'>TCoAaL Mod Depository</a></li>
						<li><a href='/TCAL-Personality/test.html'>TCAL Personality Test</a></li>
						<li><a href='https://github.com/Llamaware/Llamaware.github.io'>This site</a></li>
					</ul>
				</div>
			</section>
		</aside>
	</div>
	<footer class='footer'>
		<p>Llamaware (c) Copyright 1999<br>The only Coffin modding Web 2.0 platform<br>Follow us on <a href='/gruyere'>Gruyere</a>!</p>
	</footer>
</Layout>

<style lang='scss'>
	$asideWidth: 256px;

	.main {
		display: flex;
		flex-direction: row;
		gap: 32px;

		> main { flex: 1; }
	}

	aside { width: $asideWidth; }

	@media (max-width: 800px) {
		.main { flex-direction: column; }

		aside {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;

			width: unset;

			> * { width: $asideWidth; }
		}
	}

	section {
		h2 {
			margin-bottom: 4px;
			font-weight: 600;
			font-size: 1rem;
			text-align: center;
		}

		> div {
			background-color: var(--bg);
			border: 1px solid var(--accent);
			padding: 4px;
		}
	}

	ul {
		list-style-image: url(/silk/bullet_go.png);
	}

	img.underconstruction {
		display: block;
		margin: auto;
		margin-top: 48px;
	}

	.newProjects {
		margin: 8px;
	}

</style>
