---
import Mod from '../components/Mod.astro';
import Layout from '../layouts/Layout.astro';
import getMods from '../lib/getMods';

const mods = await getMods();
---

<Layout title='Llamaware Mod Depository'>
	<main>
		<section>
			<p>For information on how to play mods, see <a href='https://coffin-wiki.basil.cafe/playing'>the modding wiki</a>.</p>

			<p>Want to make a mod and add it here? See <a href='https://coffin-wiki.basil.cafe/modding'>the modding wiki</a> for mod-making instructions, and then submit your tasteful masterpiece to <a href='https://github.com/Llamaware/Llamaware.github.io'>the repository</a> through a pull request.</p>

			<h2>Mods</h2>

			<div class='modList'>
				{mods.map(mod => <Mod mod={mod} />)}
			</div>
		</section>
	</main>
</Layout>

<style lang='scss'>
	.modList {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 12px;
	}
</style>
