---
interface Props {
	href: string;
	icon?: string;
}

const { href, icon } = Astro.props;
---

<a href={href} class='link'>
	{icon && <img src={`/silk/${icon}.png`} />}
	<slot />
</a>

<style lang='scss'>
	.link {
		display: flex;
		align-items: center;
		gap: 6px;

		width: max-content;
		padding: 4px 6px;
		
		font-weight: 600;
		font-size: 0.875rem;
		text-decoration: none;
		color: black;
		background-color: var(--accent);

		> img {
			height: min-content;
		}
	}
</style>
