---
import Icon from './Icon.astro';

interface Props {
	href: string;
	icon?: string;
}

const { href, icon } = Astro.props;
---

<a href={href} class='link'>
	{icon && <Icon icon={icon} />}
	<slot />
</a>

<style lang='scss'>
	.link {
		display: flex;
		align-items: center;
		gap: 6px;

		width: max-content;
		padding: 4px 6px;
		
		font-size: 0.875rem;
		text-decoration: none;
		background-color: var(--accent);
	}
</style>
