---
import Icon from '../components/Icon.astro';
import Player from '../components/Player/Player.tsx';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Welcome to Llamaware.' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<a href='/' class='header'>
			<img src='/favicon.svg' alt='' />
			<h1>
				Llama<span class='ware'>ware</span>
			</h1>
		</a>
		<h2 class='subheading'>"Weaving magical software for the information age."</h2>

		<nav>
			<a href='/mods'><Icon icon='package' />TCoAaL Mods</a>
			<a href='/projects'><Icon icon='drive_go' />Projects</a>
			<a href='https://github.com/Llamaware'><Icon icon='script_code' />GitHub</a>
			<a href='https://tally.so/r/wADLQk'><Icon icon='connect' />Discord</a>
			<a href='mailto:llam@llamawa.re'><Icon icon='email' />E-Mail</a>
		</nav>
	
		<slot />

		<Player client:only='solid-js' />
	</body>
</html>

<style lang='scss'>
	html {
		font-family: Arial, Helvetica, sans-serif;
		color: var(--text);

		/* http://www.patternify.com */
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAACFJREFUGFdj/Nqn8J+76AEjAxrAEIDJEyeBbCxxOpDtBwA34AgHQxEy0gAAAABJRU5ErkJggg==) repeat, var(--bg);
		image-rendering: pixelated;
	}
	body {
		image-rendering: unset !important;
		padding-bottom: 80px;
	}

	a.header {
		display: flex;
		align-items: center;
		gap: 12px;

		width: fit-content;
		margin: auto;
		margin-top: 32px;
		margin-bottom: 4px;

		text-decoration: none;
		color: var(--text);

		img {
			display: block;
			height: 3rem;
		}

		h1 {
			margin: 0;

			font-size: 3rem;
			font-style: italic;
			text-align: center;
			text-shadow: 2px 2px #9c4e07;

			> .ware {
				color: var(--accent);
			}
		}
	}

	h2.subheading {
		margin-top: 0;

		font-size: 1rem;
		font-weight: normal;
		text-align: center;
		color: rgba(0, 0, 0, 0.75);
	}

	hr {
		border: 0;
		border-bottom: 1px solid var(--accent);
		margin: 24px 0px;
	}

	nav {
		display: flex;
		flex-wrap: wrap;

		border: 1px solid var(--accent);
		border-top: 0;
		margin-top: 24px;
		margin-bottom: 24px;
		font-size: 0.875rem;
		background-color: var(--bg);

		> a {
			display: flex;
			gap: 6px;
			justify-content: center;

			flex: 1;
			padding: 4px 8px;

			border-top: 1px solid var(--accent);
			
			text-align: center;

			&:not(:last-child) {
				border-right: 1px solid var(--accent);
			}
		}
	}
</style>

<style is:global>
	:root {
		--accent: #e7933e;
		--bg: #fdc66d;
		--text: #221706;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
		font-size: 0.875rem;
	}

	/* Inline code elements */
	:not(pre) > code {
		padding: 1px 3px;
		background: #452107;
		color: #f8d7a1;
		box-shadow: 0 3px 6px -3px #65060478;
	}

	/* Code blocks */
	.astro-code {
		padding: 8px;
		box-shadow: 0 3px 6px -3px #6506049e;
	}

	a[href] {
		color: var(--text);
	}

	hr {
		border: 0;
		border-bottom: 1px solid var(--accent);
	}

	:is(main, section) > :is(h1, h2, h3, h4, h5, h6) {
		text-align: center;
	}
</style>
